# Ignore exe file
exe-tasting-SOLERA
tasting-SOLERA*
core.*

# Ignore configure 
configure.sh
run-test.sh

# Ignore DS_Store file
**/.DS_Store

# Ignore documentation files
*.js

# Ignore Logs
logs
*.log

# Ignore .vtk files
*.vtk
*.vtp
*.vtu

# Ignore .m files
*.m

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compile tex obj
*.toc
*.glo
*.ist
*.out
*.err
*.ist
*.aux
*.bbl
*.blg
*.pdf
*.synctex.gz  
*.fls
*.fdb_latexmk

# Ignore the content of some directories

/build
/build-asan
/coverage
/docs/*
!/docs/*.md

/examples/sphere/build
/examples/sphere/outputs
/examples/sphere/exe

# Test enviroment for istorage
/test/istorage/build
/test/istorage/exe-tasting-SOLERA

# Test enviroment for hercules
/test/hercules/build 
/test/hercules/exe-tasting-SOLERA

# The file containing environment variables 
.env    
.cache

# Ignore IDE specific files
.idea/
.vscode/
*.sw*